<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Website</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Optionally include custom CSS for additional styling -->
    <style>
    body {
    background-image: url('13.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    }
    .content {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    text-align: center;
    color: rgb(235, 17, 17);
    }
    .cta-button {
    margin-top: 20px;
    }
    p{
    font-style: italic;
    color:rgb(6, 6, 6);
    }
    </style>
    </head>
    <body>
    <div class="container">
    <div class="row">
    <div class="col-md-6 offset-md-3 content">
    <h1>Welcome to Career Connect</h1>
    <p>"Our greatest weakness lies in giving up. <br>The most certain way to succeed is always to try just
    one more time."</p>
    <a class="btn btn-primary btn-lg cta-button" href="users_home" role="button">Get Started</a>
    </div>
    </div>
    </div>
    </body>
    </html>